@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  font-family: 'VT323', monospace;
  font-size: xx-large;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;  
  /* background-image: url('background_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.modal {
  width: 600px;
  height: auto;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

form {  
  display: flex;
  flex-direction: column;
  background-color: green;
  padding: 10px;  
}

form input[type=submit] {
  background-color: #bb3333;
}

.button-container button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  background-color: green;
}

.button-container button.not-active {
  background-color: #808080;
}

.hidden {
  display: none;
}

.info-container {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}
